doctype 5
html(lang="en")
  head
    title= title
    !=css('normalize')
    !=css('style')
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,400italic' rel='stylesheet' type='text/css'>
  body
    div#flash
    div#page
      h2= title
      div#auth
        span.you
        span.online
      div#rights
        table
    div#intro(style='display: none;')
      p Welcome to the 10 Points authoring tool.
      p Enter your room name here:
      form#joiner
        input(type='text')
        input(type='submit', value='Join room')

    div#size

    script#rightView(type='text/template')
      div.finished
        span.number
          <%= index %>
        span.text
      div.editor(style='display: none; clear: both;')
        textarea(rows=3, cols=40)
        br
        input.save(type='button', value='Save')
      div.editlink
        a.edit(href="#") Cancel
        span.editors
      div.status
          span.count
          span.votes
          a.toggle-vote(href='#', title='Toggle vote')
      div(style='clear: both;')

    script#flashView(type="text/template")
      <%| message %>
      <a href='#' class='close'>&#10006;</a>
    script(src="/socket.io/socket.io.js", type="text/javascript")
    != js('frontend')
