// Mixins

background-rgba(r, g, b, a)
  // rgba with fallback to rgb
  background-color: rgb(r, g, b)
  background-color: rgba(r, g, b, a)

// Main

body
  position: relative
  background: url("../img/frenchstucco.png") repeat
body,textarea
  font-family: Vollkorn,serif

a:link, a:visited
  color: #00e

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ie-box-sizing: border-box
  box-sizing: border-box

@media only screen and (min-width: 768px)
  #page
    padding: 1em

#size
  display: none
  position: fixed
  bottom: 0
  right: 0
  background: white
  padding: 1em

#auth
  position: absolute
  top: 0 
  right: 0 

#flash
  font-size: 20px
  a.close
    color: black
    text-decoration: none
    position: absolute
    right: 1em
  ul
    position: fixed
    z-index: 1
    width: 85%
    top: 1em
    left: 5%
    li
      position: relative
      padding: 0.5em
      margin-left: 0
      list-style-type: none
      box-shadow: 0px 0px 1px black, 0 0 20px white inset
      color: white
      text-shadow: black 0px 1px 2px
      margin-right: 1em
      &.info
        background-rgba(0, 153, 255, 0.9)
      &.error
        background-rgba(255, 51, 0, 0.9)

h2
  margin-bottom: 0
  margin-top: 0

#rights
  position: relative
  width: 100%
  .column
    display: inline-block
    width: 50%
    float: left
  td
    width: 50%
    vertical-align: top

  font-size: 14px
  .right
    position: relative
    margin: 0.2em
    background-color: #ffe
    border-radius: 2px
    .number
      display: inline-block
      float: left
      text-align: center
      font-size: 40px
      height: 100%
      margin-right: 0.2em
    textarea
      border: 1px solid #eee
      width: 100%
    .editor
      display: inline-block
    .editlink
      float: left
      margin-right: 1em
      img
        max-height: 1em
    .status
      color: #999
      img
        max-height: 1em
      .toggle-vote
        position: absolute
        right: 5px
        bottom: 0
        display: block
        width: 16px
        height: 16px
        background-image: url("/img/upvote.png")
        &.active
          background-image: url("/img/upvote-active.png")



